<div>
   <img src="../../assets/inUits.png" width="300" height="150"/>
   <img src="../../assets/mendix.png" width="300" height="150"/>
   <br>
   <img src="../../assets/secwise.png" width="300" height="150"/>
   <img src="../../assets/Fourcast.png" width="300" height="150"/>
   <br>
   <img src="../../assets/Ericsson.png" width="300" height="150"/>
   <img src="../../assets/gluo.png" width="300" height="150"/>
   <br>
   <img src="../../assets/FedPol.jpg" width="300" height="150" (click)="onClick()"/>   
</div>
