<mat-vertical-stepper #stepper>
    <button mat-button matStepperNext>Next</button>
    <mat-step >
        <ng-template matStepLabel>Communication</ng-template>
        <img src="../../assets/Bijles_Kanaal.PNG"/>
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Oefeningen</ng-template>
        <img src="../../assets/studuBuddy2.png" />
        <img style="margin-left:10pt;" src="../../assets/studuBuddy3.png" />
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Voorbeelden</ng-template>
        <img src="../../assets/studuBuddy4.png" />
        <img style="margin-left:10pt;" src="../../assets/studuBuddy5.png" />
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Tips</ng-template>
        <img src="../../assets/studuBuddy6.png" />
    </mat-step>
</mat-vertical-stepper>